.badge {
    font-size: 12px;
    font-weight: var(--font-normal);
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    border-radius: 20px;
}

.badge-success {
    color: #fff;
    background: var(--color-green, #10b981);
}

.badge-danger {
    color: #fff;
    background: var(--color-red, #ef4444);
}

.badge-info {
    color: #fff;
    background: var(--color-info, #247cc6);
}

.badge-warning {
    color: #fff;
    background: var(--color-yellow, #f59e0b);
}
